<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwj.express.ucenter.dao.CourierSignCountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cwj.express.domain.ucenter.CourierSignCount">
        <id column="courier_id" property="courierId" />
        <result column="sign_count" property="signCount" />
        <result column="sign_count_type" property="signCountType" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

</mapper>
