<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwj.express.ucenter.dao.UserEvaluateEventLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cwj.express.domain.ucenter.UserEvaluateEventLog">
        <id column="log_id" property="logId" />
        <result column="user_id" property="userId" />
        <result column="score" property="score" />
        <result column="create_date" property="createDate" />
    </resultMap>

</mapper>
