<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cwj.express.area.dao.DataSchoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cwj.express.domain.area.DataSchool">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="province_id" property="provinceId" />
        <result column="level" property="level" />
        <result column="website" property="website" />
        <result column="abbreviation" property="abbreviation" />
    </resultMap>

</mapper>
