<!DOCTYPE html>
<div data-th-fragment="configJS">
    <!-- 一些配置 todo 整个网关之后就要改url了-->
    <input type="hidden" id="ucenterUrl" name="ucenterUrl" value="http://localhost:40300/ucenter/"/>
    <input type="hidden" id="areaUrl" name="areaUrl" value="http://localhost:40500/area/companyList"/>
    <input type="hidden" id="createOrderUrl" name="createOrderUrl" value="http://localhost:40200/order/createOrder">
    <input type="hidden" id="paymentUrl" name="paymentUrl" value="http://localhost:40300/ucenter/paymentPage/"/>
    <input type="hidden" id="aliPayUrl" name="aliPayUrl" value="http://localhost:40200/order/alipay/pay/"/>
    <input type="hidden" id="orderListUrl" name="orderListUrl" value="http://localhost:40200/order/orderList/"/>
    <input type="hidden" id="orderDetailUrl" name="orderDetailUrl" value="http://localhost:40200/order/orderDetail/"/>
    <input type="hidden" id="pickUpOrderUrl" name="pickUpOrderUrl" value="http://localhost:40200/order/pickUpOrder/"/>
    <input type="hidden" id="setOrderExceptionUrl" name="setOrderExceptionUrl" value="http://localhost:40200/order/setOrderException/"/>
    <input type="hidden" id="finishOrderUrl" name="finishOrderUrl" value="http://localhost:40200/order/finishOrder/"/>
    <input type="hidden" id="evaluateUrl" name="evaluateUrl" value="http://localhost:40200/order/evaluate/"/>
    <input type="hidden" id="leaveUrl" name="leaveUrl" value="http://localhost:40300/ucenter/courierLeave/"/>
    <input type="hidden" id="courierReWorkUrl" name="courierReWorkUrl" value="http://localhost:40300/ucenter/courierReWork/"/>
    <input type="hidden" id="signNormalUrl" name="signNormalUrl" value="http://localhost:40300/ucenter/courierSignNormal/"/>
    <input type="hidden" id="signOTUrl" name="signOTUrl" value="http://localhost:40300/ucenter/courierSignOT/"/>
    <input type="hidden" id="reDistributionCourierUrl" name="reDistributionCourierUrl" value="http://localhost:40200/order/reDistributionCourier/"/>
    <input type="hidden" id="evaluateListUrl" name="evaluateListUrl" value="http://localhost:40200/order/evaluate/list"/>
    <input type="hidden" id="logoutUrl" name="logoutUrl" value="http://localhost:40300/ucenter/userLogout/"/>
</div>