<!DOCTYPE html>
<div data-th-fragment="configJS">
    <!-- 一些配置 todo 整个网关之后就要改url了-->
    <input type="hidden" id="ucenterUrl" name="ucenterUrl" value="http://localhost:40300/ucenter/"/>
    <input type="hidden" id="areaUrl" name="areaUrl" value="http://localhost:40500/area/companyList"/>
    <input type="hidden" id="createOrderUrl" name="createOrderUrl" value="http://localhost:40200/order/createOrder">
    <input type="hidden" id="paymentUrl" name="paymentUrl" value="http://localhost:40300/ucenter/paymentPage/"/>
    <input type="hidden" id="aliPayUrl" name="aliPayUrl" value="http://localhost:40200/order/alipay/pay/"/>
    <input type="hidden" id="orderListUrl" name="orderListUrl" value="http://localhost:40200/order/orderList/"/>
</div>