<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="col-md-2"  th:fragment="html">
        <ul class="nav nav-pills nav-stacked" id="nav">
            <li id="dashboard-sidebar" sec:authorize="hasAnyRole('ROLE_USER','ROLE_VIP_USER','ROLE_SVIP_USER')">
                <a href="/ucenter/dashboard/">仪表盘<i class="glyphicon glyphicon-dashboard pull-right"></i></a>
            </li>
            <li id="courierDashboard-sidebar" sec:authorize="hasAnyRole('ROLE_COURIER')">
                <a href="/ucenter/courierDashboard/">仪表盘<i class="glyphicon glyphicon-dashboard pull-right"></i></a>
            </li>
            <li id="adminDashboard-sidebar" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <a href="/ucenter/adminDashboard/">仪表盘<i class="glyphicon glyphicon-dashboard pull-right"></i></a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_VIP_USER','ROLE_SVIP_USER')" id="order-sidebar">
                <a href="/ucenter/orderPage">立即下单<i class="glyphicon glyphicon-cloud-download pull-right"></i></a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_VIP_USER','ROLE_SVIP_USER','ROLE_COURIER')" id="history-sidebar">
                <a href="/ucenter/orderListPage">我的订单<i class="glyphicon glyphicon-list-alt pull-right"></i></a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN')" id="orderManager-sidebar">
                <a href="/ucenter/orderListPage">订单管理<i class="glyphicon glyphicon-cloud-download pull-right"></i></a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN')" id="orderRecycle-sidebar">
                <a href="/admin/recycle">订单回收<i class="glyphicon glyphicon-trash pull-right"></i></a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN')" id="user-sidebar">
                <a href="/ucenter/userListPage">用户管理<i class="glyphicon glyphicon-user pull-right"></i></a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN')" id="earningManagement-sidebar">
                <a href="/ucenter/earningManagePage">收益管理<i class="glyphicon glyphicon-user pull-right"></i></a>
            </li>

            <!--订单改成由系统分配，这个应该不需要了-->
            <!--<li sec:authorize="hasAnyRole('ROLE_COURIER')" id="getorder-sidebar">-->
                <!--<a href="/courier/order">接单大厅<i class="glyphicon glyphicon-cloud-download pull-right"></i></a>-->
            <!--</li>-->

            <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_VIP_USER','ROLE_SVIP_USER')" id="recycleStore-sidebar">
                <a href="/user/recycle">回收站<i class="glyphicon glyphicon-trash pull-right"></i></a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_COURIER')" id="adminFeedback-sidebar">
                <a href="/admin/feedback">反馈管理<i class="glyphicon glyphicon-comment pull-right"></i></a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_ADMIN')" id="profit-sidebar" class="disabled">
                <a href="#">收益管理<i class="glyphicon glyphicon-yen pull-right"></i></a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_VIP_USER','ROLE_SVIP_USER','ROLE_COURIER')" id="evaluate-sidebar">
                <a href="/ucenter/evaluatePage">评价中心<i class="glyphicon glyphicon-edit pull-right"></i></a>
            </li>

            <li sec:authorize="hasAnyRole('ROLE_USER','ROLE_VIP_USER','ROLE_SVIP_USER')" id="address-sidebar" class="disabled">
                <a href="#">收货地址<i class="glyphicon glyphicon-home pull-right"></i></a>
            </li>

            <li id="log-sidebar" class="disabled">
                <a href="#">操作日志<i class="glyphicon glyphicon-list-alt pull-right"></i></a>
            </li>

            <li id="info-sidebar">
                <a href="/ucenter/userInfoPage">个人中心<i class="glyphicon glyphicon-cog pull-right"></i></a>
            </li>

        </ul>
    </div>
</html>
